.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}

/* color classes */
.color1 {
  color: rgba(14, 14, 14, 0.5);
}

.color2 {
  color: rgba(14, 14, 14, 1);
}

.color3 {
  background-color: rgba(84, 144, 245, 0.2);
}

.color4 {
  background-color: rgba(247, 235, 207, 1);
}

/* Button styles */
.btn-primary {
  background-color: #006A50;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 24px 17px 24px;
  border-radius: 8px;
  border: none;
  width: 270px;
  height: 56px;
}

.sec-btn {
  background-color: rgba(84, 144, 245, 1);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.thi-btn {
  background-color: rgba(9, 161, 92, 1);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.fou-btn {
  background-color: rgba(255, 194, 57, 1);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

/* banner design */
.bann-bg {
  background-color: #C6E4D6;
}

.banner {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  margin: 160px;
}

header {}

.bannar-title {
  font-weight: 500;
  font-size: 24px;
  margin: 24px;
}

.bannar-mess {
  font-weight: 700;
  font-size: 56px;
  margin-top: 0px;
}

.banner-content {
  width: 50%;
  gap: 64px;
  padding: 117px 59.99px;
}

.banner-content,
img {
  width: 474.03px;
  height: 400px;

}

/* Vision design */

.title {
  font-weight: 700;
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}

.descrip {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.vision img {
  width: 64px;
  height: 64px;

}

.vision h4 {
  font-weight: 700;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.vision p {
  font-weight: 400;
  font-size: 16;
  margin-top: 0px;

}

.vision-con {
  display: flex;
  gap: 24px;
}

.vision-full {
  margin: 160px;
}

.vision {
  padding: 24px 24px;
  border-radius: 16px;
}